<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homemade</title>
    
    <link rel="stylesheet" href="/styles/navStyle.css">
    <link rel="stylesheet" href="/styles/myRecipesStyle.css">
</head>
<body>
    <nav class="mainNav">
        <div class="overlay"></div>

        <label class="logo"><a href="/">Homemade</a></label>

        <nav class="dropDownMenu">
            <button class="dropDownMenuButton">
                <span class="dropDownMenuButtonBar"></span>
                <span class="dropDownMenuButtonBar"></span>
                <span class="dropDownMenuButtonBar"></span>
            </button>
        </nav>
        
        <div class="allLinks">
            <ul class="siteLinks">
                <li>
                    <a href="/recipes/myRecipes">My Recipes</a>
                </li>
                <li>
                    <a href="/about">About Us</a>
                </li>
                <li>
                    <a href="/contactUs">Contact Us</a>
                </li>
            </ul>
            
            <ul class="userLinks">
                <% if(user){ %>
                    <li>
                        <a>Welcome, <%= user.name %>!</a>
                    </li>
                    <li>
                        <a href="/users/logout">Logout</a>
                    </li>
                <% } else { %>
                    <li>
                        <a href="/users/login">Login</a>
                    </li>
                    <li>
                        <a class="active" href="/users/register">Sign Up</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </nav>
    
    <script src="/controls/navControl.js"></script>
