<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homemade</title>

    <link rel="stylesheet" type="text/css" href="styles/navStyle.css">
</head>
<body>
    <nav>
        <label class="logo">Homemade</label>

        <nav class="dropDownMenu">
            <button class="dropDownMenuButton">
                <span class="dropDownMenuButtonBar"></span>
                <span class="dropDownMenuButtonBar"></span>
                <span class="dropDownMenuButtonBar"></span>
            </button>
        </nav>
        
        <div class="allLinks">
            
            <ul class="siteLinks">
                <li>
                    <a href="/home">Home</a>
                </li>
                <li>
                    <a href="#">My Recipes</a>
                </li>
                <li>
                    <a href="/about">About Us</a>
                </li>
                <li>
                    <a href="#">Contact Us</a>
                </li>
            </ul>
            
            <ul class="userLinks">
                <li>
                    <a href="/users/login">Login</a>
                </li>
                <li>
                    <a class="active" href="/users/register">Sign Up</a>
                </li>
            </ul>

        </div>
        
    </nav>
    
    <script src="controls/navControl.js"></script>
</body>
</html>