<%- include('../_partial/_header'); -%>

    <div id="aboutUsContainer">
        <a id="aboutUsHeading">About Us</a>
        <a id="aboutUsDescription">Homemade was inspired by the love of food and computer science. Curiosity to learn about the possibilites and applications of within this field had led me to want to work on developing something. My love for cooking at home gave me the idea to create a platform to store recipes of all the meals that come out my kitchen.</a>     
    </div>

    <div id="usageContainer">
        <a id="usageHeading">Usage</a>
        <a id="usageDescription">Although functionalities are limited, recipes can be stored and accessed at any time. Head under the 'My Recipes' tab to access or create any new recipes you whip up at home.</a>     
    </div>
    
<%- include('../_partial/_footer'); -%>