<%- include('../_partial/_header'); -%>

<div id="contactUsContainer">
    <a id="contactUsHeading">Have suggestions for improvement?</a>
    <a id="contactUsDescription">Contact us by email at Homemade@gmail.com!</a>
</div>

<%- include('../_partial/_footer'); -%>