<%- include('../_partial/_header'); -%>

    <div id="quoteContainer">
        <a id="quote">Storing Recipes Made Simpler.</a>
    </div>
    
    <img id="homepage" src="/images/veges.jpg" alt="">

<%- include('../_partial/_footer'); -%>