<%- include('../_partial/_header'); -%>
    <div id="recipeContainer">
        
        <div id="allRecipes">
            <a><%= recipe.recipeName %></a>

            <img src="/uploads/<%= recipe.recipeImageFileName %>"/>
        </div>
    </div>
    
<%- include('../_partial/_footer'); -%>