<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homemade</title>

    <link rel="stylesheet" href="/styles/userStyle.css">
</head>
<body>
    <!-- Background image -->
    <img id="background" src="/images/foodBackground.jpg" alt="">

    <div class="userContainer">
        <form id="loginForm" action="/users/register" method="POST">
            <label class="userLogo"><a href="/">Homemade</a></label>

            <h1 class="formHeading">Create Account</h1>

            <div class="inputOption">
                <label class="inputOptionLabel">Your Name</label>
                <input class="inputOptionInput" type="name" id="name" name="name">
            </div>
            <div class="inputOption">
                <label class="inputOptionLabel" for="email">Email</label>
                <input class="inputOptionInput" type="email" id="email" name="email">
            </div>
            <div class="inputOption">
                <label class="inputOptionLabel" for="password">Password</label>
                <input class="inputOptionInput" type="password" id="password" name="password">
            </div>
            <div class="inputOption">
                <label class="inputOptionLabel" for="password2">Confirm Password</label>
                <input class="inputOptionInput" type="password" id="password2" name="password2">
            </div>
    
            <div id="buttonContainer">
                <button id="userButton" type="submit">Register</button>
            </div>

            <label id="formQ">Don't have an account?</label>
            <label id="formLink"><a href="/users/register">Register</a></label>
        </form>
    </div>
</body>
</html>