/* colors used within website */
:root{
    --site-themed-color: rgb(248, 166, 89);
    --site-themed-color-shadow: rgb(250, 183, 120);
    --site-links-color: rgb(102, 102, 102);
    --site-active-hover-shade: rgb(255, 142, 36);
    --light-border: rgb(201, 201, 201);
}

#background{
    /* positioning of background */
    position: fixed;
    width: 100%;
    height: 100%;
    opacity: 0.25;
}

#newRecipeContainer{
    /* positioning of container */
    position: relative;
    width: 80vw;
    height: 100vh;
    left: 10vw;
    overflow-y: scroll;

    /* Style within form */
    padding: 25px 20px;
    background: white;
    cursor: pointer;
 
    /* Border around the form */
    border-left: solid;
    border-right: solid;
    border-color: var(--light-border);
    border-width: 1px;
}

#closeButtonContainer{
    /* positioning of label */
    display: inline-flex;
    margin-bottom: 12px;
    align-items: center;
    justify-content: flex-start;
}

#backButton{
    /* style within container */
    font-size: 16px;
}

#back{
    /* positioning of items within label */
    padding: 9px 8px;
    border-radius: 3px;
}

#back:visited{
    /* style within container */
    color: var(--site-links-color);
}

#createRecipeForm{
    /* positioning of items within form */
    display: flex;
    flex-direction: column;
    height: 96%;
    margin: 0px 14px;
}

#formSubHeading{
    /* positioning of label */
    display: block;
    margin-bottom: 8px;

    /* style within container */
    font-size: 30px;
    font-weight: bold;
}

#recipeNameContainer{
    /* postioning of container */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 16px 16px 8px;
}

#recipeNameContainer #recipeNameLabel{
    /* positioning of label */
    display: block;
    margin-right: 8px;

    /* style within container */
    font-size: 16px;
    font-weight: bold;
}

#recipeNameContainer #recipeNameInput{
    /* Positioning of labels */
    display: block;
    border-radius: 5px;

    /* Style within label */
    width: 100%;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--light-border);
    font-size: 16px;
}

#recipeImage{
    /* postioning of container */
    display: inline-flex;
    flex-direction: column;
    align-items: left;
    margin: 0px 16px 16px 8px;
}

#recipeImage #recipeImageLabel{
    /* positioning of label */
    display: block;
    margin-bottom: 8px;

    /* style within container */
    font-size: 16px;
    font-weight: bold;
}

#recipeImageInput{
    /* Hides the 'UGLY' input file button */
    display: none;
}

#recipeImageInputLabel{
    /* positioning of label */
    display: block;

    /* styling of container */
    text-align: center;
    color: white;
    background: var(--site-themed-color);
    padding: 9px 10px;
    border-radius: 3px;
}

#recipeDescription{
    /* postioning of container */
    display: flex;
    align-items: left;
    flex-direction: column;
    margin-bottom: 16px;
    margin: 0px 16px 16px 8px;
}

#recipeDescription #recipeDescriptionLabel{
    /* positioning of label */
    display: block;
    margin-bottom: 8px;

    /* style within container */
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
}

#recipeDescription #recipeDescriptionInput{
    /* Positioning of textarea */
    display: block;
    border-radius: 5px;

    /* style of textarea */
    outline: none;
    resize: none;
    overflow: auto;

    /* Style within textarea */
    width: 100%;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--light-border);
    font-size: 16px;
}

.ingredientsContainer{
    /* postioning of container */
    display: block;
    margin: 0px 16px 16px 8px;
}

.ingredientsContainer #ingredientsLabel{
    /* positioning of label */
    display: inline-block;

    /* style within container */
    font-size: 16px;
    font-weight: bold;
}

.ingredientsContainer #addIngredientButton{
    /* positioning of container */
    display: inline-block;
    margin-left: 8px;

    /* styling of container */
    text-align: center;
    color: white;
    background: var(--site-themed-color);
    border: none;
    padding: 9px 10px;
    border-radius: 3px;
    box-shadow: inset 0 2px 5px var(--site-themed-color-shadow);
    outline: none;
}

.ingredientsContainer #allIngredients{
    /* positioning of container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 8px;
}

.ingredientsContainer .ingredientLabel{
    /* positioning of container */
    display: block;
    margin-right: 8px;

    /* style within container */
    font-size: 16px;
}

.ingredientSet{
    /* positioning of container */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-top: 2px;
}

.ingredientsContainer .ingredientInput{
    /* Positioning of labels */
    display: inline-block;
    border-radius: 5px;
    margin-right: 1px;

    /* Style within label */
    width: 84%;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--light-border);
    font-size: 16px;
}

.ingredientsContainer .deleteIngredientButton{
    /* positioning of container */
    display: inline-block;
    width: 15%;

    /* styling of container */
    text-align: center;
    color: rgb(255, 255, 255);
    background: var(--site-themed-color);
    border: none;
    padding: 7.5px 10px;
    border-radius: 3px;
    box-shadow: inset 0 2px 5px var(--site-themed-color-shadow);
    outline: none;
}

.directionsContainer{
    /* postioning of container */
    display: block;
    margin: 0px 16px 16px 8px;
}

.directionsContainer #directionsLabel{
    /* positioning of label */
    display: inline-block;

    /* style within container */
    font-size: 16px;
    font-weight: bold;
}

.directionSet{
    /* positioning of container */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin-top: 2px;
}

.directionsContainer #addDirectionButton{
    /* positioning of container */
    display: inline-block;
    margin-left: 16px;

    /* styling of container */
    text-align: center;
    color: white;
    background: var(--site-themed-color);
    border: none;
    padding: 9px 13px;
    border-radius: 3px;
    box-shadow: inset 0 2px 5px var(--site-themed-color-shadow);
    outline: none;
}

.directionsContainer #allDirections{
    /* positioning of container */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 8px;
}

.directionsContainer .directionLabel{
    /* positioning of container */
    display: block;
    margin-right: 8px;

    /* style within container */
    font-size: 16px;
}

.directionsContainer .directionInput{
    /* Positioning of labels */
    display: inline-block;
    border-radius: 5px;
    margin-right: 1px;

    /* Style within label */
    width: 84%;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: var(--light-border);
    font-size: 16px;
}

.directionsContainer .deleteDirectionButton{
    /* positioning of container */
    display: inline-block;
    width: 15%;

    /* styling of container */
    text-align: center;
    color: white;
    background: var(--site-themed-color);
    border: none;
    padding: 7.5px 10px;
    border-radius: 3px;
    box-shadow: inset 0 2px 5px var(--site-themed-color-shadow);
    outline: none;
}

#createRecipeButtonContainer{
    /* positioning of container */
    display: flex;
    justify-content: center;
    margin-top: auto;
}

#createRecipeButton{
    /* positioning of container */
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 10px;

    /* styling of container */
    text-align: center;
    color: white;
    background: var(--site-themed-color);
    border: none;
    padding: 7.5px 10px;
    border-radius: 3px;
    box-shadow: inset 0 2px 5px var(--site-themed-color-shadow);
    outline: none;
}

/* ------------- ANIMATIONS ----------------- */

#recipeImageInputLabel:hover, #addIngredientButton:hover, 
#addDirectionButton:hover, #createRecipeButton:hover{
    background: var(--site-active-hover-shade);
    transition: .5s;
}

/* For hovering over site linkes */
#back:hover{
    background: var(--site-hover-shade);
    transition: .5s; 
}

/* ------------------------ MEDIA QUEIRIES ---------------------- */

@media (max-width: 590px){
    #formSubHeading{
        /* style within container */
        font-size: 26px;
    }
}

@media (max-width: 570px){
    #formSubHeading{
        /* style within container */
        font-size: 20px;
    }
}