*{
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    background: rgb(250, 250, 250);
}

.overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.8);
    display: none;
    z-index: 1;
}

.mainNav{
    position: fixed;
    width: 100%;
    background: rgb(255, 255, 255);
    height: 65px;
}

.logo{
    color: rgb(248, 166, 89);
    font-size: 35px;
    line-height: 65px;
    font-weight: bold;
    float: left;
    padding: 0px 16px;
}

.logo a:visited{
    color: rgb(248, 166, 89);
}

.allLinks{
    display: inline;
}

.siteLinks{
    float: left;
}

.userLinks{
    float: right;
    margin-right: 16px;
}


.allLinks li{
    display: inline-block;
    line-height: 65px;
    margin: 0px 3px;
}

.userLinks li{
    margin: 0px 1px;
}

.mainNav ul li a{
    color: rgb(102, 102, 102);
    padding: 9px 10px;
    border-radius: 3px;
}

.mainNav ul li .active{
    color: rgb(255, 255, 255);
    padding: 9px 10px;
    border-radius: 3px;
}

.dropDownMenu{
    display: none;
    align-items: center;
    float: right;
    margin-right: 16px;
}

.dropDownMenuButton{
    width: 27px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0px;
    padding-bottom: 0px;
    display: none;
}

.dropDownMenuButton:focus{
    outline: none;
}

.dropDownMenuButtonBar{
    width: 100%;
    height: 3px;
    background: rgb(248, 166, 89);
    display: block;
    margin: 5px 0px;
    border-radius: 25px;
}

/* Animation Effects */

.allLinks .active{
    background: rgb(248, 166, 89);
}

.allLinks .active:hover{
    background: rgb(255, 142, 36);
    transition: .5s; 
}

.allLinks a:hover{
    background: rgb(236, 236, 236);
    transition: .5s; 
}

@media (max-width: 740px){
    .dropDownMenu{
        display: flex;
    }

    .dropDownMenuButton{
        display: block;
        position: absolute;
        right: 16px;
        top: 16px;
    }

    .allLinks{
        position: fixed;
        right: -250px;
        top: 0px;
        background: rgb(255, 255, 255);
        width: 225px;
        height: 100%;
        align-items: center;
        flex-direction: column;
        margin: 0px;
        transition: 0.30s ease-in;
        border: solid;
        border-color: rgb(201, 201, 201);
        border-width: 0px 0px 0px 1px;
        z-index: 2;
    }

    .siteLinks{
        position: absolute;
        top: 65px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: solid;
        border-color: rgb(201, 201, 201);
        border-width: 1px 0px 0px 0px;
    }

    .userLinks{
        position: absolute;
        top: 260px;
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        border: solid;
        border-color: rgb(201, 201, 201);
        border-width: 1px 0px 1px 0px;
    }

    .mainNav ul li{
        display: block;
        width: 100%;
    }


    .mainNav ul li a{
        display: block;
        padding: 0px;
        border-radius: 0px;
        text-align: center;
    }

    .mainNav ul li .active{
        color: rgb(255, 255, 255);
        padding: 0px;
        border-radius: 0px;
    }
}

.openDropDownMenu{
    right: 0px;
}

.moveButtonUp{
    z-index: 3;
    transition: 0.5s ease-in;
}

.addOverlay{
    display: block;
}