/* Resets some defualt set styles */
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background: rgb(250, 250, 250);
}

/* Container holding registration form */
.userContainer{
    /* Center the form in middle of the page */
    position: relative;
    top: 370px;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Style within form */
    padding: 25px 20px;
    background: rgb(255, 255, 255);

    /* Style of form */
    width: 350px;
    height: 396px;

    /* Border around the form */
    border: solid;
    border-color: rgb(201, 201, 201);
    border-width: 1px;
    border-radius: 2%;
}

#loginContainer{
    top: 314px;
    height: 284px;
}

/* Positioning/style of logo within registration form */
.userLogo{
    /* Positioning of logo */
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translate(-50%, -50%);
    
    /* Logo style */
    color: rgb(248, 166, 89);
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 10px;

}

.userLogo a:visited{
    color: rgb(248, 166, 89);
}

/* Positioning/style of heading within registration form */
.formHeading{
    /* Positioning of heading */
    display: block;
    width: 100%;
    float: left;

    /* Heading style */
    font-size: 28px;
    margin-bottom: 20px;
}

.inputOptionLabel{
    /* Positioning of labels */
    display: block;

    /* Label styles */
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2px;
    margin-left: 4px;
}

.inputOptionInput{
    /* Positioning of labels */
    display: block;
    margin-bottom: 5px;
    border-radius: 5px;

    /* Label text styles */
    font-size: 16px;

    /* Label Style */
    width: 100%;
    padding: 5px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(201, 201, 201);
}

.userButton{
    /* Positioning of labels */
    display: block;
    margin-top: 25px;

    /* Label text styles */
    font-size: 12px;
    font-weight: bold;

    /* Label Style */
    width: 100%;
    padding: 7px 10px;
    background: rgb(248, 166, 89);
    outline: none;
    border: 1px rgb(255, 160, 71) solid;
    border-radius: 2px;
    box-shadow: inset 0 2px 5px rgb(250, 183, 120);
}

.form{
    /* Positioning of Labels */
    display: inline-block;
    margin-top: 4px;
    margin-left: 6px;

    /* Text Styles */
    font-size: 14px;
}

.form a:visited{
    color: rgb(61, 90, 255);
}

.form a:hover{
    color: rgb(248, 166, 89);
}